body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form{
  display:block;
  position: relative;
  padding: 24px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  border: solid 1px #eeeeee;
  border-radius: 10px;
}

.input{
  line-height: 1.5em;
  border-radius: 4px;
  border: solid 1px #eeeeee;
  padding: 4px 6px;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
